html,
body {
  background-color: #121212;
  color: #fff;
  overflow: hidden;
  user-select: none;
}

#verticalFlex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px 5px;
  margin: 0px;
}


#flex {
  display: flex;
  flex-direction: row;
  height: calc(100% - 35px);
  flex-grow: 1;
}

.panel {
  background-color: rgba(255, 255, 255, 0.08);
}

.leftPanel {
  flex-basis: 25%;
  margin-right: 10px;
  padding: 5px;
  min-height: calc(100vh);
  max-height: calc(100vh);
  max-width: 300px;
  position: relative;
  overflow: scroll;
}

.leftPanel.narrow {
  max-width: 200px;
}

canvas.destroySelect {
  background-color: #9c2d21;
}

#builderPanel {
  background-color: rgba(47, 47, 47, .95);
  position: absolute;
  left: 0px;
  top: 0px;
  max-width: 300px;
}

#builderCost {
  margin-left: 20px;
  margin-right: 5px;
}

#selectorPanel {
  background-color: rgba(47, 47, 47, .95);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
}

@media only screen and (min-height: 500px) {
  #log {
    position: absolute;
    bottom: 0;
    height: 150px;
  }

  .leftPanel {
    overflow: hidden;
  }
}

#mainPanel {
  flex-grow: 5;
  flex-basis: 50%;
  padding: 0px;
  min-height: calc(100vh);
  max-height: calc(100vh);
  position: relative;
}

#drawPanel {
  width: 100%;
  height: 100%;
}

#previewCanvas {
  width: 300px;
  padding-top: 10px;
}

.completedCircle {
  width: 100px;
  height: 100px;
}

@keyframes shinyColor {
  0% {
    border-color: #ffffff;
  }

  50% {
    border-color: #FFD700;
  }

  100% {
    border-color: #ffffff;
  }
}

.resource.shiny {
  animation: shinyColor 2s ease infinite;
  border-color: #FFD700;
}

.resource {
  border-radius: 6px;
  border: 1px solid;
  border-color: #ffffff;
  width: 100%;
  height: 8px;
  /*background-color: rgb(87, 87, 87);*/
  position: relative;
}

.resource>div {
  border-radius: 6px;
}

.resourceDiff {
  position: relative;
  margin-left: 4px;
}

.resourceDiff .hidden {
  visibility: hidden;
}

.resourceDiff div {
  position: relative;
}

.resourceDiff .up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid green;
  left: -2px;
  top: -2px;
}

.resourceDiff .down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid red;
  left: -2px;
  top: -2px;
}

.resourceDiff .neutral {
  width: 8px;
  height: 2px;
  background-color: white;
  left: -2px;
  top: -2px;
}

#layer3 path {
  stroke: #420045 !important;
  fill: purple !important;
}